/* Login.css */
form {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: -10px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 2px;
    width: 160px; 
    height: 20px;
    border-radius: 6px;
    margin-right: 120px;
    transition: box-shadow 0.3s;
    border: 1px solid #e0e2e4; 


  }
  input:hover {
    box-shadow: 3px 2px 8px rgb(153, 223, 255); 
  }
  
  button {
    padding: 10px;
    background-color: #4d8bbd;
    color: white;
    border: 2px solid #57bff0;
    cursor: pointer;
    width: 105px; 
    height: 40px;
    border-radius: 4px;
    transition: box-shadow 0.3s;

  }
  
  button:hover {
    background-color: #f7f2f2;
    color:rgb(119, 117, 117);
    box-shadow: 3px 2px 8px rgb(153, 223, 255);
  }
  