@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  padding: 0;
  margin: 0;    
}

.thin-outer-rectangle {
  outline: 5px solid rgba(0, 0, 0, 0.4); /* Thin red outline with low opacity */
  animation: pulse 1s infinite alternate; /* Example animation - modify as needed */
}

@keyframes pulse {
  from {
    outline-width: 2px;
  }
  to {
    outline-width: 5px; /* Example increase in outline width */
  }
}